<?xml version="1.0" encoding="UTF-8"?>
<UserModeConfig_List>
    <user TYPE="user">
        <password>123456</password>
    </user>
    <user TYPE="root">
        <password>siasun</password>
    </user>
	    <user TYPE="worker">
        <password>worker</password>
    </user>
</UserModeConfig_List>
